PORT=3000
YELP_API_KEY=
# TODO: Add your Yelp API key here in the future if you want to enable live Yelp reviews in the testimonials section. Not required for static/fallback reviews.
BUSINESS_ID=shipping-with-purpose-scottsdale-2
